Source: xacobeo
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0),
 gcc,
 xvfb,
 xbase-clients,
 perl-modules,
 libgtk2.0-dev,
 libxml2-dev,
 libextutils-pkgconfig-perl,
 libextutils-depends-perl,
 libextutils-parsexs-perl,
 libfile-slurp-perl,
 libtest-simple-perl
 libtest-exception-perl,
 libxml-libxml-perl,
 libintl-perl,
 libglib-perl, 
 libgtk2-perl,
 libgtk2-gladexml-perl, 
 libgtk2-sourceview-perl,
 libgnome2-print-perl,
 libclass-accessor-perl,
Build-Depends-Indep: perl (>= 5.6.1)
Maintainer: Emmanuel Rodriguez <emmanuel.rodriguez@gmail.com>
Standards-Version: 3.7.2
Homepage: http://search.cpan.org/dist/Xacobeo/

Package: xacobeo
Architecture: any
Depends: perl (>= 5.6.1), ${misc:Depends}, 
 libintl-perl,
 libxml-libxml-perl, 
 libglib-perl, 
 libgtk2-perl,
 libgtk2-gladexml-perl, 
 libgtk2-sourceview-perl,
 libgnome2-print-perl,
 libclass-accessor-perl
Description: XPath (XML Path Language) visualizer.
 This program provides a simple graphical user interface (GUI) for executing
 XPath queries and seeing their results.
 .
 The GUI tries to provide all the elements that are needed in order to write,
 test and execute XPath queries without too many troubles. It displays the
 Document Object Model (DOM) and the namespaces used. The program registers the
 namespaces automatically and each element is displayed with it's associated
 namespaces. All is performed with the idea of being able of running an XPath
 query as soon as possible without having to fight with the document's namespaces
 and by seeing automatically under which namespace each element is.
 .
 This description was automagically extracted from the module by dh-make-perl.
